{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>


    <h5>Welcome to the Dashboard page, {{user}}</h5>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">Create new record  &nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <hr>
   

        <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Province</th>
                <th scope="col">Country</th>
                <th scope="col">Date Join</th>
                <th scope="col">View</th>
             </tr>
        </thead>
        <tbody>
            
            {% for record in records %}
                <tr class="table-active">
                    <td>{{record.id}}</td>
                    <td>{{record.first_name}}  {{record.last_name}}</td>
                    <td>{{record.email}}</td>
                    <td>{{record.phone}}</td>
                    <td>{{record.address}}</td>
                    <td>{{record.city}}</td>
                    <td>{{record.country}}</td>
                    <td>{{record.province}}</td>
                    <td>{{record.creation_date}}</td>
                    <td><a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> &nbsp;<i class="fa fa-eye" aria-hidden="true"></i></a></td>
                    
                    </tr>
                    
            {% endfor %}
           
        </tbody>
    </table>

     
    
    

{%  endblock %}